.carousel-image{
    width: 100%;  /* Altera para ocupar toda a largura disponível */
    height: auto;  /* Mantém a proporção correta da imagem */
    display: block; /* Garante que a imagem se comporte como um bloco */
    margin: 0 auto; /* Centraliza horizontalmente */
}
