/* Estilização da página de contato */

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
    font-family: 'Barlow', sans-serif;
}

/* Estilo específico para o h1 da página "Contato" */
.container-form > h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    color: #2F4F4F;
    text-transform: uppercase;
}

/* Div container que envolve infos-left e title-subtitle */
.container-main-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 2rem;
}

/* Estilo para a div infos-left */
.infos-left {
    flex: 0 0 40%;
    padding: 20px;
    margin-right: 20px;
    background-color: #ECF9F2;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    text-align: left;
}

/* Estilo para a div title-subtitle */
.title-subtitle {
    flex: 0 0 50%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.infos-left h3, .title-subtitle h1 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #2F4F4F;
}

.title-subtitle h1 {
    font-size: 2.2rem;
    text-align: center;
}

.title-subtitle .subtitle {
    font-size: 1.4rem;
    color: #9E9E9E;
    margin-bottom: 20px;
    text-align: center;
    margin-top: .5rem;
}

.infos-left h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.infos-left p, .title-subtitle p {
    font-size: 1.2rem;
    color: #333;
    text-align: left;
}

form {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.text {
    margin-bottom: 20px;
}

.button-form-dados {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 10px 20px; 
    margin-left: 1.4rem;
    background-color: #2F4F4F; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; /* Tamanho da fonte */
  }
  
.button-form-dados img {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}

.button-form-dados:hover {
    background-color: #555;
}

.schedule-section-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0FBF4;
    max-width: 100%;
    padding-top: 1rem; /* Ajuste o padding conforme necessário */
    padding-bottom: 4rem; /* Ajuste o padding conforme necessário */
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 8px;
    position: relative; /* Permite que elementos filhos posicionados absolutamente se baseiem nesta div */
    overflow: visible;
    height: 28.4rem;
}

.schedule-section-contato .schedule-text {
    flex: 1;
    max-width: 35%;
    text-align: left;
}
  
.schedule-section-contato .schedule-text h2 {
    font-size: 2rem;
    font-family: "Barlow Semi Condensed";
    font-weight: 600;
    font-style: normal;
    margin-bottom: 10px;
}

.schedule-section-contato .schedule-text p {
    font-size: 1.1rem;
    font-family: "Barlow";
    font-weight: 500;
    font-style: normal;
    line-height: 1.8;
    text-align: justify;
}

.schedule-section-contato .button-options {
    background-color: #31BE52;
    color: white;
    font-weight: bold;
    font-size: 0.95rem;
    text-align: center;
    justify-content: center;
    gap: 1px;
    width: 20rem;
    height: 3rem;
}

.schedule-section-contato .button-options:hover {
    background-color: #28A745;
}

.schedule-section-contato .schedule-image {
    flex: 1;
    max-width: 40rem;
}

/* Responsividade para telas muito grandes (acima de 1600px) */
@media (min-width: 1600px) {
    .container-main-form {
        max-width: 1400px;
    }

    .title-subtitle h1 {
        font-size: 2.8rem;
    }

    .title-subtitle .subtitle {
        font-size: 1.6rem;
    }
}

/* Responsividade para telas grandes (1200px a 1600px) */
@media (min-width: 1200px) and (max-width: 1599px) {
    .container-main-form {
        max-width: 1200px;
    }

    .title-subtitle h1 {
        font-size: 2.4rem;
    }

    .title-subtitle .subtitle {
        font-size: 1.4rem;
    }
}

/* Responsividade para telas médias (900px a 1199px) */
@media (min-width: 900px) and (max-width: 1199px) {
    .container-main-form {
        flex-direction: row;
    }

    .title-subtitle h1 {
        font-size: 2rem;
    }

    .title-subtitle .subtitle {
        font-size: 1.2rem;
    }
}

/* Responsividade para telas menores (600px a 899px) */
@media (max-width: 899px) {
    .container-main-form {
        flex-direction: column;
    }
  
    .infos-left, .title-subtitle {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
  
    .title-subtitle h1 {
        font-size: 1.8rem;
    }

    .title-subtitle .subtitle {
        font-size: 1.2rem;
    }

    .button-form-dados {
        width: 100%;
    }
}

/* Responsividade para telas muito pequenas (abaixo de 600px) */
@media (max-width: 600px) {
    .title-subtitle h1 {
        font-size: 1.6rem;
    }

    .infos-left h3, .infos-left p {
        font-size: 1.2rem;
    }

    .title-subtitle p {
        font-size: 1rem;
    }

    .button-form-dados {
        width: 100%;
        justify-content: center;
    }

    .container-box-primary {
        padding: 0;
    }

    form {
        padding: 10px;
    }

    .schedule-section-contato {
        flex-direction: column;
        height: auto;
    }

    .schedule-section-contato .schedule-text {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .schedule-section-contato .schedule-image {
        max-width: 100%;
        height: auto;
    }
}
