/* Estilização do container principal */
.servicos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 100%;
}

.servicos-container .servicos-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    margin-bottom: 7rem;
    max-width: 1200px;
}

.servicos-container .servicos-main-container h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    color: #2F4F4F; /* Tom mais escuro para títulos */
    text-transform: uppercase;
}

/* Estilo do container dos cards */
.cards-main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards por linha */
    gap: 0 5rem; /* Espaço entre os cards */
    margin: 20px 0;
}

.servicos-container .servicos-main-container p {
    font-size: 1.2rem;
    font-family: 'Barlow', sans-serif;
}

/* Estilo de cada card */
.card-container {
    position: relative; /* Necessário para o pseudo-elemento */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    gap: 1;
    width: 120%;
    height: 200px; /* Defina a altura desejada para os cards */
    background-color: #ECF9F2; /* Fundo verde mais claro */
    color: #333;
    border: 1px solid #ddd;
    border-radius: 12px; /* Bordas levemente arredondadas */
    text-align: center;
    transition: box-shadow 2s; /* Aumenta a duração da transição da sombra */
    text-decoration: none; /* Remove underline dos links */
    overflow: hidden; /* Evita que a imagem transborde do card */
    cursor: pointer;
}

/* Efeito hover nos cards */
.card-container:hover .titulo-card{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra ao passar o mouse */
    color: #FFF;
    transition: 2s linear;
    font-size: 2rem; /* Aumenta o tamanho da fonte ao passar o mouse */

}

/* Estilo da imagem */
.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* A imagem ocupa 100% da largura do card */
    height: 100%; /* A imagem ocupa 100% da altura do card */
    object-fit: cover; /* Faz com que a imagem cubra o container sem distorcer */
    transition: transform 2s; /* Transição suave para o efeito de zoom */
}

/* Efeito hover na imagem */
.card-container:hover .card-image {
    transform: scale(1.5);
    filter: brightness(0.95);
}

/* Efeito de película para o entardecer */
.card-container::before {
    content: '';
    position: absolute; /* Posiciona o pseudo-elemento em relação ao card */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(5, 5, 4, 0.5); /* Aumenta a intensidade da película */
    opacity: 1; /* Mantém a película sempre visível */
    z-index: 1; /* Fica acima da imagem, mas abaixo do conteúdo do card */
}

/* Estilo do conteúdo dentro do card */
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2; /* Coloca o conteúdo acima da película */
    position: relative; /* Necessário para manter a centralização correta */
}

/* Títulos dos cards */
.card-container .titulo-card {
    margin: 0; /* Remove margem padrão do título */
    font-family: 'Barlow Semi Condensed', sans-serif; /* Fonte do título */
    position: relative; /* Necessário para centralização */
    font-weight: 600; /* Negrito do título */
    font-size: 1.3rem; /* Tamanho do título */
    text-align: center; /* Centraliza o título */
    color: #333; /* Cor do título */
    margin-bottom: 10px; /* Espaço entre o título e a descrição */
    z-index: 2; /* Coloca o título acima da película */
}

.schedule-section-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0FBF4;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 6rem;
    border-radius: 8px;
    position: relative;
    overflow: visible;
    height: 29rem;
}

.schedule-section-servicos .schedule-text {
    flex: 1;
    max-width: 35%;
    text-align: left;
}

.schedule-section-servicos .schedule-text h2 {
    font-size: 2rem;
    font-family: "Barlow Semi Condensed";
    font-weight: 600;
    font-style: normal;
    margin-bottom: 10px;
}

.schedule-section-servicos .schedule-text p {
    font-size: 1.1rem;
    font-family: "Barlow";
    font-weight: 500;
    font-style: normal;
    line-height: 1.8;
    text-align: justify;
}

/* Para telas menores que 1600px */
@media (max-width: 1600px) {
    .cards-main-container {
        grid-template-columns: repeat(4, 1fr); /* 4 cards por linha */
    }

    .servicos-container .servicos-main-container h1 {
        font-size: 2rem; /* Título menor */
    }
}

/* Para telas menores que 1200px */
@media (max-width: 1200px) {
    .cards-main-container {
        grid-template-columns: repeat(3, 1fr); /* 3 cards por linha */
    }

    .card-container {
        height: 180px; /* Ajuste a altura do card se necessário */
    }

    .servicos-container .servicos-main-container h1 {
        font-size: 1.8rem; /* Título menor */
    }
}

/* Para telas menores que 900px */
@media (max-width: 900px) {
    .cards-main-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cards por linha */
    }

    .servicos-container .servicos-main-container h1 {
        font-size: 1.6rem; /* Título menor */
    }

    .servicos-container .servicos-main-container p {
        font-size: 1rem; /* Texto menor */
    }
}

/* Para telas menores que 600px */
@media (max-width: 600px) {
    .cards-main-container {
        grid-template-columns: 1fr; /* 1 card por linha */
    }

    .servicos-container .servicos-main-container h1 {
        font-size: 1.4rem; /* Título menor */
    }

    .servicos-container .servicos-main-container p {
        font-size: 0.9rem; /* Texto menor */
    }
}

/* Para telas de smartphones menores que 480px */
@media (max-width: 480px) {
    .servicos-container .servicos-main-container h1 {
        font-size: 1.2rem; /* Título ainda menor */
    }

    .servicos-container .servicos-main-container p {
        font-size: 0.8rem; /* Texto ainda menor */
    }

    .card-container {
        height: 150px; /* Altura do card reduzida */
    }

    .card-container .titulo-card {
        font-size: 16px; /* Tamanho do título reduzido */
    }
}