.custom-background {
  display: flex;
  justify-content: center; /* Alinhamento central */
  align-items: center;
  width: 100%;
  max-width: 1920px;
  padding: 0.5rem 1rem; /* Ajustado o espaçamento */
  background-color: #28A745;
  box-shadow: 0 8px 20px rgba(0, 255, 100, 0.5); /* Sombra suavizada */
}

.custom-background .custom-button {
  background-color: #31BE52;
  color: #FFFFFF;
  transition: background-color 0.3s, transform 0.2s;
  font-family: "Barlow Semi Condensed";
  font-size: 1rem; /* Tamanho da fonte diminuído */
  padding: 8px 12px; /* Padding ajustado */
  margin: 0 0.3rem; /* Espaçamento horizontal reduzido */
  border-radius: 4px; /* Bordas levemente arredondadas */
  border: none !important;
}

.custom-background .custom-button:hover {
  background-color: #28A745; /* Cor ao passar o mouse */
  font-weight: bold; /* Mantido o peso da fonte */
  transform: scale(1.03); /* Efeito suave de aumento */
}

.custom-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; /* Remove o preenchimento total */
}

@media (max-width: 768px) {
  .custom-background {
    flex-direction: column;
    padding: 1rem;
  }

  .custom-button {
    margin-bottom: 0.8rem;
    width: 100%; /* Ocupa toda a largura em telas menores */
  }
}