/* Tornando o layout flexível e responsivo */
.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9;
}

@media (min-width: 768px) {
  .service-container {
    flex-direction: row;
  }
}

.service-details {
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .service-details {
    width: 65%;
    padding-right: 2rem;
  }
}

.other-services {
  width: 100%;
}

@media (min-width: 768px) {
  .other-services {
    width: 30%;
    padding-left: 2rem;
    border-left: 1px solid #ddd;
  }
}

.other-services-title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .other-services-title {
    font-size: 1.5rem;
  }
}
